[defaults]
inventory = inventory.ini
roles_path = roles
timeout = 60
forks = 1
interpreter_python = auto_silent
callback_result_format = yaml
retry_files_enabled = false
nocows = true

[ssh_connection]
pipelining = true
ssh_args = -o ServerAliveInterval=30 -o ServerAliveCountMax=20 -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new
